<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="icon" href="/images/svg/<%-  drink -%>">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bulma.min.css">
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <div id="checkout-button">
        <%- include('../public/images/svg/' + drink) %>
    </div>
<div style="position: fixed; left: 0; bottom: 0;">
    Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a><br>
    Background made by <a href="https://www.svgbackgrounds.com/#wintery-sunburst" title="SVG Backgrounds">www.svgbackgrounds.com</a>
</div>
<script type="text/javascript">
    const stripe = Stripe('<%- stripePublishableKey %>');
    let checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', function() {
      fetch('/payments/create-checkout-session', {
        method: 'POST',
      })
      .then(function(response) {
        return response.json();
      })
      .then(function(session) {
        return stripe.redirectToCheckout({ sessionId: session.id });
      })
      .then(function(result) {
        if (result.error) {
          alert(result.error.message);
        }
      })
      .catch(function(error) {
        console.error('Error:', error);
      });
    });
  </script>
</body>
</html>
