<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="icon" href="/images/svg/<%-  drink -%>">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bulma.min.css">
</head>
<body>
<%- include('../public/images/svg/' + drink) %>
</body>
</html>
