:root {
  --card-bg: whitesmoke; /* has-background-white-ter */
  --card-bg-hover: #fafafa; /* has-background-white-bis */
}

html {
  background-image: url("./background.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 100%;
}

.hero {
  background-color: coral;
}

.card {
  height: 100%;
  background-color: var(--card-bg);
}

.card:hover {
  cursor: pointer;
  background-color: var(--card-bg-hover);
}
