<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="icon" href="/images/svg/030-beer.svg">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bulma.min.css">
</head>
<body>
<%- include('assets/030-beer.svg') %>
</body>
</html>
